<div id="all">
  <!--Topside green-->
  <div id="topside">
      <div id="fiveforfive">545 Tool</div>
      <app-date id="date"></app-date>
  </div>

  <!--Options-->
  <!--First-->
  <div id="threeclan">
      <div class="clan" (click)="redirectTo(1)">
          <div class="button">
              <div class="textButton">ΣΤΡΑΤΙΩΤΕΣ</div>
          </div>
          <div class="description">
              Πρόσθεσε, αφαίρεσε έναν στρατιώτη, δες ή επεξεργάσου τα στοιχεία του
          </div>
      </div>
      <div class="clan" (click)="redirectTo(2)">
          <div class="button">
              <div class="textButton">ΥΠΗΡΕΣΙΕΣ</div>
          </div>
          <div class="description">
              Καταχώρησε στους στρατιώτες υπηρεσία και δημιούργησε αυτόματα το excel.
          </div>
      </div>
      <div class="clan">
          <div class="button">
              <div class="textButton">ΗΜΕΡΟΛΟΓΙΟ ΥΠΗΡΕΣΙΩΝ</div>
          </div>
          <div class="description">
              Δες τις υπηρεσίες μιας συγκεκριμένης μέρας και ποιοι στρατιώτες την εκτέλεσαν
          </div>
      </div>
  </div>
</div>

